#navBar {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

.bg-black {
  background-color: black;
}

.navbar a {
   @include fontFamily;
    letter-spacing: 0px;
    font-size: 2vw;
    min-height: 1.5vmin
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  letter-spacing: 15px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 8px;
}

p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  line-height: 25px;
  padding-right: 80px;
  padding-left: 80px;
  color: #7c7373;
}

#titles {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #7c7373;
}

.col img {
  border-radius: 1000px;
}

p a {
  color: #7c7373;
}

#introPara p {
  display: none;
  letter-spacing: -3px;
}

.textAnimLetter {
  -webkit-animation: letter-spacing 2s ease infinite;
          animation: letter-spacing 2s ease infinite;
}

@-webkit-keyframes letter-spacing {
  20% {
    letter-spacing: -2px;
  }
  40% {
    letter-spacing: -1px;
  }
  60% {
    letter-spacing: 0px;
  }
  80% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 2px;
  }
}

@keyframes letter-spacing {
  20% {
    letter-spacing: -2px;
  }
  40% {
    letter-spacing: -1px;
  }
  60% {
    letter-spacing: 0px;
  }
  80% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: 2px;
  }
}

#projects .row {
  display: none;
}

#expPara {
  line-height: 2px;
}

.textAnimLine {
  -webkit-animation: line-height 1s ease infinite;
          animation: line-height 1s ease infinite;
}

@-webkit-keyframes line-height {
  4.17% {
    line-height: 2px;
  }
  8.34% {
    line-height: 3px;
  }
  12.51% {
    line-height: 4px;
  }
  16.68% {
    line-height: 5px;
  }
  20.85% {
    line-height: 6px;
  }
  25.02% {
    line-height: 7px;
  }
  29.19% {
    line-height: 8px;
  }
  33.36% {
    line-height: 9px;
  }
  37.53% {
    line-height: 10px;
  }
  41.7% {
    line-height: 11px;
  }
  45.87% {
    line-height: 12px;
  }
  50.04% {
    line-height: 13px;
  }
  54.21% {
    line-height: 14px;
  }
  58.38% {
    line-height: 15px;
  }
  62.55% {
    line-height: 16px;
  }
  66.72% {
    line-height: 17px;
  }
  70.89% {
    line-height: 18px;
  }
  75.06% {
    line-height: 19px;
  }
  79.23% {
    line-height: 20px;
  }
  83.4% {
    line-height: 21px;
  }
  87.57% {
    line-height: 22px;
  }
  91.74% {
    line-height: 23px;
  }
  95.91% {
    line-height: 24px;
  }
  100% {
    line-height: 25px;
  }
}

@keyframes line-height {
  4.17% {
    line-height: 2px;
  }
  8.34% {
    line-height: 3px;
  }
  12.51% {
    line-height: 4px;
  }
  16.68% {
    line-height: 5px;
  }
  20.85% {
    line-height: 6px;
  }
  25.02% {
    line-height: 7px;
  }
  29.19% {
    line-height: 8px;
  }
  33.36% {
    line-height: 9px;
  }
  37.53% {
    line-height: 10px;
  }
  41.7% {
    line-height: 11px;
  }
  45.87% {
    line-height: 12px;
  }
  50.04% {
    line-height: 13px;
  }
  54.21% {
    line-height: 14px;
  }
  58.38% {
    line-height: 15px;
  }
  62.55% {
    line-height: 16px;
  }
  66.72% {
    line-height: 17px;
  }
  70.89% {
    line-height: 18px;
  }
  75.06% {
    line-height: 19px;
  }
  79.23% {
    line-height: 20px;
  }
  83.4% {
    line-height: 21px;
  }
  87.57% {
    line-height: 22px;
  }
  91.74% {
    line-height: 23px;
  }
  95.91% {
    line-height: 24px;
  }
  100% {
    line-height: 25px;
  }
}

#contact .row {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 15%;
  top: 15%;
  height: 70%;
  width: 70%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */
